### TCAs do BAIXO AMAZONAS

In [1]:
import pandas as pd

Solicitação da base de dados da região Baixo Amazonas:

In [13]:
dados_BAmaz = pd.read_excel('Dados_BAIXO_AMAZONAS.xlsx')
#display(dados_BAmaz)

Criação dos arquivo de numeros de TCAs por ano do Baixo Amazonas:

In [15]:
ano_tca_BAmaz = dados_BAmaz.groupby(['Ano_Termo_Compromisso']).size()
#display(ano_tca_BAmaz)
ano_tca_BAmaz.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\Resultados\Baixo_Amazonas\Ano_Termo_Comp_BAmaz.xlsx', 
                        index = True, header=True)

Agrupamento dos dados por número de licenciamentos por municípios:

In [16]:
Munic_BAmaz_NLic = dados_BAmaz[['MUNICIPIO','N_LICENCIAMENTOS']].value_counts()
Munic_BAmaz_NLic = pd.DataFrame(Munic_BAmaz_NLic, index = None)
Munic_BAmaz_NLic.sort_values(by='MUNICIPIO', ascending=True)
Munic_BAmaz_NLic.set_axis(['n° de Imovéis com Licencimento'], axis='columns', inplace=True)

#Organizando o DataFrame por ordem alfabetica a coluna das regiões de integração: 
print(Munic_BAmaz_NLic.sort_values(by='MUNICIPIO', ascending=True))

#Exportando para excel o DataFrame criado:
Munic_BAmaz_NLic.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\Munic_BAmaz_NLic.xlsx', index = True, header=True)

                                   n° de Imovéis com Licencimento
MUNICIPIO        N_LICENCIAMENTOS
Alenquer         1                                              3
                 0                                              2
Almeirim         1                                              7
                 0                                              1
Belterra         1                                              1
Juruti           1                                              1
Mojuí dos Campos 1                                             14
Prainha          0                                              1
Santarém         1                                             10
                 0                                              1
Óbidos           1                                              1

In [17]:
BAmaz_NLic = pd.read_excel('Munic_BAmaz_NLic.xlsx')
BAmaz_NLic = BAmaz_NLic.fillna('Alenquer')
#print(BAmaz_NLic.sort_values(by=['MUNICIPIO']))

In [18]:
nImoveisLic_BAmaz = BAmaz_NLic.loc[BAmaz_NLic['N_LICENCIAMENTOS']==1]

nImoveisLic_BAmaz.drop(['N_LICENCIAMENTOS'], axis=1, inplace=True)

#print(nImoveisLic_BAmaz.sort_values(by=['MUNICIPIO']))

nImoveisLic_BAmaz.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\N_Imoveis_Licenc_BAmaz.xlsx', 
                            index = False, header=True)

C:\Users\letic\AppData\Local\Temp\ipykernel_6256\1283921250.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nImoveisLic_BAmaz.drop(['N_LICENCIAMENTOS'], axis=1, inplace=True)

Para saber os TCAs é necessário:

In [19]:
BAmaz_TCA = BAmaz_NLic.groupby(by=['MUNICIPIO','N_LICENCIAMENTOS']).sum().groupby(level=[0]).cumsum()
#print(tabTCA)


Munc_BAmaz = BAmaz_NLic.loc[BAmaz_NLic['N_LICENCIAMENTOS']==1, ['MUNICIPIO']]
Munc_BAmaz = Munc_BAmaz.sort_values(by=['MUNICIPIO'])
Munc_BAmaz = Munc_BAmaz ['MUNICIPIO'].tolist()
#print(type(Munc_BAmaz))

BAmaz_TCA.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\BAmaz_TCA.xlsx', index = True, header=True)

BAmaz_TCA = pd.read_excel('BAmaz_TCA.xlsx')
#print(BAmaz_TCA)

BAmaz_TCA_N = BAmaz_TCA.loc[BAmaz_TCA['N_LICENCIAMENTOS']==1]
BAmaz_TCA_N.drop(['MUNICIPIO','N_LICENCIAMENTOS'], axis=1, inplace=True)
BAmaz_TCA_N['MUNICIPIO_tca'] = Munc_BAmaz
BAmaz_TCA_N.set_axis(['TCA', 'MUNICIPIO'], axis='columns', inplace=True)
BAmaz_TCA_N = BAmaz_TCA_N[['MUNICIPIO','TCA']]
BAmaz_TCA_N.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\BAmaz_TCA_N.xlsx', index = False, header=True)
display(BAmaz_TCA_N)

C:\Users\letic\AppData\Local\Temp\ipykernel_6256\1740397020.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BAmaz_TCA_N.drop(['MUNICIPIO','N_LICENCIAMENTOS'], axis=1, inplace=True)
C:\Users\letic\AppData\Local\Temp\ipykernel_6256\1740397020.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BAmaz_TCA_N['MUNICIPIO_tca'] = Munc_BAmaz

           MUNICIPIO  TCA
1           Alenquer    5
3           Almeirim    8
4           Belterra    1
5             Juruti    1
6   Mojuí dos Campos   14
9           Santarém   11
10            Óbidos    1

Unir as tabelas

In [20]:
BAmaz_TCA_N = pd.read_excel('BAmaz_TCA_N.xlsx')
N_Imoveis_Licenc_BAmaz = pd.read_excel('N_Imoveis_Licenc_BAmaz.xlsx')

tab_dinamica_BAmaz = N_Imoveis_Licenc_BAmaz.merge(BAmaz_TCA_N, on = "MUNICIPIO", how = "left")
tab_dinamica_BAmaz = tab_dinamica_BAmaz.sort_values(by=['MUNICIPIO'])
display(tab_dinamica_BAmaz)

tab_dinamica_BAmaz.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\Resultados\Baixo_Amazonas\tab_dinamica_BAmaz.xlsx', 
                             index = False, header=True)

          MUNICIPIO  n° de Imovéis com Licencimento  TCA
3          Alenquer                               3    5
2          Almeirim                               7    8
4          Belterra                               1    1
5            Juruti                               1    1
0  Mojuí dos Campos                              14   14
1          Santarém                              10   11
6            Óbidos                               1    1

Para o Diretorio não ficar poluido, foi excluido todos os arquivos .xlsx que não são são mais necesários.

In [21]:
import os

if os.path.exists("Munic_BAmaz_NLic.xlsx"):
  os.remove("Munic_BAmaz_NLic.xlsx")

if os.path.exists("N_Imoveis_Licenc_BAmaz.xlsx"):
  os.remove("N_Imoveis_Licenc_BAmaz.xlsx")

if os.path.exists("BAmaz_TCA.xlsx"):
  os.remove("BAmaz_TCA.xlsx")

if os.path.exists("BAmaz_TCA_N.xlsx"):
  os.remove("BAmaz_TCA_N.xlsx")