### TCAs do BAIXO AMAZONAS

In [1]:
import pandas as pd

Solicitação da base de dados da região Baixo Amazonas:

In [2]:
dados_xingu = pd.read_excel('Dados_XINGU.xlsx')
#display(dados_xingu)

Criação dos arquivo de numeros de TCAs por ano do Baixo Amazonas:

In [8]:
ano_tca_tapajos = dados_tapajos.groupby(['Ano_Termo_Compromisso']).size()
#display(ano_tca_tapajos)
ano_tca_tapajos.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\Resultados\TAPAJÓS\Ano_Termo_Comp_tapajos.xlsx', 
                        index = True, header=True)

Agrupamento dos dados por número de licenciamentos por municípios:

In [4]:
Munic_tapajos_NLic = dados_tapajos[['MUNICIPIO','N_LICENCIAMENTOS']].value_counts()
Munic_tapajos_NLic = pd.DataFrame(Munic_tapajos_NLic, index = None)
Munic_tapajos_NLic.sort_values(by='MUNICIPIO', ascending=True)
Munic_tapajos_NLic.set_axis(['n° de Imovéis com Licencimento'], axis='columns', inplace=True)

#Organizando o DataFrame por ordem alfabetica a coluna das regiões de integração: 
print(Munic_tapajos_NLic.sort_values(by='MUNICIPIO', ascending=True))

#Exportando para excel o DataFrame criado:
Munic_tapajos_NLic.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\Munic_tapajos_NLic.xlsx', 
                            index = True, header=True)

                                 n° de Imovéis com Licencimento
MUNICIPIO      N_LICENCIAMENTOS
Aveiro         0                                              1
               1                                              1
Itaituba       1                                              8
               0                                              2
Novo Progresso 1                                             21
               0                                              4
Rurópolis      1                                              4
               0                                              1

In [6]:
tapajos_NLic = pd.read_excel('Munic_tapajos_NLic.xlsx')
tapajos_NLic = tapajos_NLic.fillna('Aveiro')
#print(tapajos_NLic.sort_values(by=['MUNICIPIO']))

        MUNICIPIO  N_LICENCIAMENTOS  n° de Imovéis com Licencimento
5          Aveiro                 0                               1
6          Aveiro                 1                               1
1        Itaituba                 1                               8
4        Itaituba                 0                               2
0  Novo Progresso                 1                              21
2  Novo Progresso                 0                               4
3       Rurópolis                 1                               4
7       Rurópolis                 0                               1

In [10]:
nImoveisLic_tapajos = tapajos_NLic.loc[tapajos_NLic['N_LICENCIAMENTOS']==1].sort_values(by=['MUNICIPIO'])
nImoveisLic_tapajos.drop(['N_LICENCIAMENTOS'], axis=1, inplace=True)
#print(nImoveisLic_tapajos)

nImoveisLic_tapajos.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\nImoveisLic_tapajos.xlsx', 
                            index = False, header=True)

Para saber os TCAs é necessário:

In [11]:
tapajos_TCA = tapajos_NLic.groupby(by=['MUNICIPIO','N_LICENCIAMENTOS']).sum().groupby(level=[0]).cumsum()
#print(tabTCA)


Munc_tapajos = tapajos_NLic.loc[tapajos_NLic['N_LICENCIAMENTOS']==1, ['MUNICIPIO']]
Munc_tapajos = Munc_tapajos.sort_values(by=['MUNICIPIO'])
Munc_tapajos = Munc_tapajos['MUNICIPIO'].tolist()
print(Munc_tapajos)
print(type(Munc_tapajos))

tapajos_TCA.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\tapajos_TCA.xlsx', index = True, header=True)

tapajos_TCA = pd.read_excel('tapajos_TCA.xlsx')
print(tapajos_TCA)

tapajos_TCA_N = tapajos_TCA.loc[tapajos_TCA['N_LICENCIAMENTOS']==1]
tapajos_TCA_N.drop(['MUNICIPIO','N_LICENCIAMENTOS'], axis=1, inplace=True)
tapajos_TCA_N['MUNICIPIO_tca'] = Munc_tapajos
tapajos_TCA_N.set_axis(['TCA', 'MUNICIPIO'], axis='columns', inplace=True)
tapajos_TCA_N = tapajos_TCA_N[['MUNICIPIO','TCA']]
tapajos_TCA_N.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\tapajos_TCA_N.xlsx', index = False, header=True)
display(tapajos_TCA_N)

['Aveiro', 'Itaituba', 'Novo Progresso', 'Rurópolis']
<class 'list'>
        MUNICIPIO  N_LICENCIAMENTOS  n° de Imovéis com Licencimento
0          Aveiro                 0                               1
1             NaN                 1                               2
2        Itaituba                 0                               2
3             NaN                 1                              10
4  Novo Progresso                 0                               4
5             NaN                 1                              25
6       Rurópolis                 0                               1
7             NaN                 1                               5

C:\Users\letic\AppData\Local\Temp\ipykernel_10468\871263548.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tapajos_TCA_N.drop(['MUNICIPIO','N_LICENCIAMENTOS'], axis=1, inplace=True)
C:\Users\letic\AppData\Local\Temp\ipykernel_10468\871263548.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tapajos_TCA_N['MUNICIPIO_tca'] = Munc_tapajos

        MUNICIPIO  TCA
1          Aveiro    2
3        Itaituba   10
5  Novo Progresso   25
7       Rurópolis    5

Unir as tabelas

In [12]:
tapajos_TCA_N = pd.read_excel('tapajos_TCA_N.xlsx')
N_Imoveis_Licenc_tapajos = pd.read_excel('nImoveisLic_tapajos.xlsx')

tab_dinamica_tapajos = N_Imoveis_Licenc_tapajos.merge(tapajos_TCA_N, on = "MUNICIPIO", how = "left")
tab_dinamica_tapajos = tab_dinamica_tapajos.sort_values(by=['MUNICIPIO'])
display(tab_dinamica_tapajos)

tab_dinamica_tapajos.to_excel (r'C:\Users\letic\Documents\Python Scripts\PRA TCA\Resultados\TAPAJÓS\tab_dinamica_tapajos.xlsx', 
                             index = False, header=True)

        MUNICIPIO  n° de Imovéis com Licencimento  TCA
0          Aveiro                               1    2
1        Itaituba                               8   10
2  Novo Progresso                              21   25
3       Rurópolis                               4    5

Para o Diretorio não ficar poluido, foi excluido todos os arquivos .xlsx que não são são mais necesários.

In [13]:
import os

if os.path.exists("Munic_tapajos_NLic.xlsx"):
  os.remove("Munic_tapajos_NLic.xlsx")

if os.path.exists("nImoveisLic_tapajos.xlsx"):
  os.remove("nImoveisLic_tapajos.xlsx")

if os.path.exists("tapajos_TCA.xlsx"):
  os.remove("tapajos_TCA.xlsx")

if os.path.exists("tapajos_TCA_N.xlsx"):
  os.remove("tapajos_TCA_N.xlsx")